* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* Début bloc File Name + Generate JSON */

#MainContainer {
    border-radius: 15px;
    color: #132C33;
    margin: 0 auto;
}

#Name {
    background-color: #D8E3E7;
    color: #132C33;
    font-size: medium;
    padding: 3px 12px;
    border-radius: 3px;
    border: none;
}

#GenerateJson {
    background-color: #D8E3E7;
    color: #126E82;
    font-size: medium;
    padding: 3px 12px;
    border-radius: 5px;
    border: none;
}

/* Fin bloc File Name + Generate JSON */


/* Début bloc Channels + Steps */

#SubContainer {
    background-color: #D8E3E7;
    border-radius: 15px;
    padding: 3px 12px;
}

#Channels {
    color: #132C33;
}

.channelInput {
    background-color: #126d829f;
    color: #132C33;
    font-size: medium;
    margin: 5px 3px 5px;
    padding: 5px 75px;
    border-radius: 3px;
    border: none;
}

button {
    background-color: #126E82;
    color: #D8E3E7;
    margin: 3px 0px 5px;
    padding: 5px 10px 5px;
    border-radius: 3px;
    border: none;
}

button:hover {
    cursor: pointer
}


/* Bouton + Channels */

#addChannel {
    background-color: #126E82;
    color: #D8E3E7;
    margin: 3px;
    padding: 5px 10px 5px;
    border-radius: 3px;
    border: none;
}

.step {
    color: #132C33;
}

.step h4 {
    color: #132C33;
}

textarea {
    margin: 5px 3px 10px;
    border-radius: 5px;
    border: none;
    width: 100%;
}


/* Bouton + Steps */

#addStep {
    background-color: #126E82;
    color: #D8E3E7;
    margin: 3px;
    padding: 5px 10px 5px;
    border-radius: 3px;
    border: none;
}


/* Fin bloc Channels + Steps */